In [5]:
import rapidjson as json
import pandas as pd

with open("./data/categories.json", "r") as f:
    categories = json.load(f)

df_categories = pd.DataFrame(list(categories.items()), columns=["category", "key"])
df_categories.to_csv("./data/categories.csv", index=False)
df_categories

                                              category  key
0                                          Electronics    0
1                          eBook Readers & Accessories    1
2                                         Power Cables    2
3                              Computers & Accessories    3
4                                   Tablet Accessories    4
..                                                 ...  ...
740  TS-SW2502S4 dimensions: 18-3/4"W x 5-7/8"H x 1...  740
741  Pioneer GM-D8601 Peak Power Output (Watts x Ch...  741
742  4 Gauge Amp Kit Includes 1) 17Ft Blue Power Wi...  742
743  4 Gauge Amp Kit Includes (1) Gold Ring Termina...  743
744                                      Radar Systems  744

[745 rows x 2 columns]

In [6]:
with open("./data/features.json", "r") as f:
    features = json.load(f)

df_features = pd.DataFrame(list(features.items()), columns=["feature", "key"])
df_features.to_csv("./data/features.csv", index=False)
df_features

                                                  feature     key
0       BUY MORE AND SAVE! Purchase 2 of this Item and...       0
1       Detachable charging cable specific for your No...       1
2                          Genuine Barnes & Noble Product       2
3       Connect and Sync files with ease to your Computer       3
4                        5ft (1.5m) length Charging cable       4
...                                                   ...     ...
255488  Southwestern Bell:31175 425083 BAT1188 BP-36ML...  255488
255489     This Ni-cd Battery is 5264 plug and rectangle.  255489
255490  Please check and make sure it is the same as y...  255490
255491                                   Nominal Capacity  255491
255492                                         Cycle Life  255492

[255493 rows x 2 columns]

In [7]:
with open("./data/products.json", "r") as f:
    products = json.load(f)

df_products = pd.DataFrame(products)
df_products.to_csv("./data/products.csv", index=False)
df_products

,id,categories,brand,features,price,date
0,0594459451,"[0, 1, 2]",Barnes &amp; Noble,[0],6.04,20140801
1,059449771X,"[0, 1, 2]",Barnes & Noble,"[1, 2, 3, 4]",34.88,20141113
2,0594451647,"[0, 3, 4, 5]",Barnes &amp; Noble,"[5, 6, 7, 8, 9]",1.46,20130528
3,0972683275,"[0, 6, 7, 8, 9]",VideoSecu,"[10, 11, 12, 13, 14]",34.99,20070225
4,106171327X,"[0, 3, 10, 11, 12]",SanDisk,"[15, 16, 17, 18, 19]",12.99,20111013
...,...,...,...,...,...,...
69374,B01HIYOC0E,"[0, 6, 80, 495]",Electriduct,"[255429, 255430, 255431, 255432]",36.70,20160624
69375,B01HIZEW1C,"[0, 30, 168, 169]",AmazonBasics,"[255433, 255434, 255435, 255436, 58633, 255437...",49.56,20170101
69376,B01HJ8E11E,"[0, 62, 63]",Yostyle,"[255441, 255442, 255443, 255444, 255445]",9.91,20160625
69377,B01HJA3OUG,"[0, 6, 45]",LETOUR,"[255446, 255447, 255448, 255449, 255450, 25545...",18.99,20160625
69378,B01HJDR9DQ,"[0, 6, 75, 146]",GEILIENERGY,"[255477, 255478, 255479, 255480, 255481, 19422...",4.98,20160625

In [9]:
with open("./data/ratings.json", "r") as f:
    ratings = json.load(f)

df_ratings = pd.DataFrame(ratings)
df_ratings = df_ratings.drop(["vote", "image"], axis=1)
df_ratings.to_csv("./data/ratings.csv", index=False)
df_ratings

,mark,product,date,user,comment,title
0,5.0,0594459451,20170420,A2Y8DXMYWXF7EA,"We're rough on cables, often breaking them at ...",Best Nook cable yet
1,5.0,0594459451,20161220,A1Q4Q0QGFOGG2L,Good condition,Five Stars
2,5.0,0594459451,20161020,A280POPEWI0NSA,After purchasing cheap cords from another webs...,Good Quality Cord
3,5.0,0594459451,20160618,A2KTAT1Y3VRVSJ,This is a great charging cable for the Nook. I...,Better than original charger!
4,5.0,0594459451,20160519,A19UQZGUWM59CF,Should of been given to Nook customers who had...,Works
...,...,...,...,...,...,...
3461912,4.0,B01HJA3OUG,20171220,A7PBOUT55F3KR,"It works, no issues.",Four Stars
3461913,5.0,B01HJA3OUG,20171203,AG3DXG002QSXP,Some other buyers complained about not having ...,Great for powering SOC's.
3461914,4.0,B01HJA3OUG,20171005,A30UN2DEKVSR3Q,"Good quality, just wish there was an enclosure...",No enclosures for it...
3461915,5.0,B01HJDR9DQ,20180707,A36X6GTJ2CQY94,Very good.,Five Stars
3461916,5.0,B01HJDR9DQ,20180607,AFAI8GK0O6ZZG,Fits the old cordless phones just fine and wor...,Fits and works. No issues.